*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'sass/typography';
@import 'sass/colors';
@import 'sass/spacing';

body{
    background-color: #050607;
}

@import 'sass/layout';